body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	margin-top: 5%;
}

form {
	text-align: center;
	margin-top: 1%;
}

#treeDisplay {
	text-align: center;
	color: green;
}

#tree-image {
	text-align: center;
	font-size: 3em;
	margin: 0;
}